* {
  box-sizing:border-box;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  color:#dedede;
  background-color: #849091;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  width:100%;
  text-align:center;
}

header a, header a:visited {
  font-size:18px;
  color:#dedede;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

section {
  background-color:#2B2B2A;
  text-align:center;
  padding:16px;
}

#message {
  padding:6px;
}

#history {
  width: 16%;
  padding: 1em;
  position: relative;
  min-height: 400px;
  overflow-y: scroll;
  float:left;
}

#users {
  border: 1px solid #dedede;
  margin: 2%;
  width: 80%;
  float: left;
}
